{% extends 'base.html.twig' %}

{% block title %}Edit TestCncb{% endblock %}

{% block body %}
    <h1>Edit TestCncb</h1>

    {{ include('test_cncb/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('test_cncb_index') }}">back to list</a>

    {{ include('test_cncb/_delete_form.html.twig') }}
{% endblock %}
